<!-- <div class="my-3">

    <div class="card">
        <div class="card-header text-center">
            <h4 class="my-3">Add a Todo</h4>
        </div>
        <div class="card-body">
            <form (ngSubmit) = "OnSubmit()">
                <div class="mb-3">
                    <label for="title" class="form-label">Todo Title</label>
                    <input type="text" [(ngModel)]="title" class="form-control" id="title" name="title" required>
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Todo Description</label>
                    <input type="text" [(ngModel)]="desc" class="form-control" id="desc" name="desc" required>
                </div>
                <button type="submit" class="btn btn-primary form-control mt-3">Add Todo</button>
            </form>
        </div>
    </div>
    
</div> -->
<div class="card">
    <div class="card-header text-center">
        <h4 class="my-3">Add a Todo</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="userForm" (submit)="OnSubmit()">
            <label class="form-label">
                Title
                <input type="text" formControlName="title" class="form-control" />
            </label>
            <div *ngIf="userForm.controls.title.invalid && userForm.controls.title.touched && userForm.controls.title.errors">
                <div *ngIf="userForm.controls.title.errors['required']">
                    <small style="color: red;">Title is required!</small>
                </div>
                <div *ngIf="userForm.controls.title.errors['maxlength']">
                    <small style="color: red;">Length should be less than 30 characters</small>
                </div>
                    
            </div>
            
            <!-- {{userForm.controls.title.errors | json}} -->

            <label class="form-label">
                Description
                <input type="text" formControlName="desc" class="form-control" />
            </label>
            <div *ngIf="userForm.controls.desc.invalid && userForm.controls.desc.touched">
                <small style="color: red;">Description is required!</small>
            </div>

            <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary form-control mt-4">Add Todo</button>

        </form>
    </div>
</div>
